select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}

.container {
  z-index: 2;
  background-color: white;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  width: 80%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.divFilterContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}


select {
    width: 100%;
    height: 50px;
    font-size: 100%;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0;
    background-color: #c0392b;
    border: none;
    border-bottom: 2px solid #962d22;
    color: white;
    appearance: none;
    padding: 10px;
    padding-right: 38px;
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: color 0.3s ease, background-color 0.3s ease, border-bottom-color 0.3s ease;
    display: grid;
  }

  /* For IE <= 11 */
  select::-ms-expand {
    display: none; 
  }

  select:hover,
  select:focus {
    color: #16aa8a;
    background-color: rgb(112, 211, 19);
    border-bottom-color: #DCDCDC;
  }
  select:hover,
  select:focus{
    background-color: white;
    border-color: #DCDCDC;
  }
  select:hover,
  select:focus {
    fill: #c0392b;
  }

  .temps{
    display: flex;
    flex-direction: row;
    list-style: none;
  }

  .noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      -webkit-tap-highlight-color: transparent;
  }
  






  
  .temp {
    width: 150px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: red;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: #e62222;
  }
  
  .temp, .temp span {
    transition: 200ms;
  }
  
  .temp .text {
    transform: translateX(35px);
    color: white;
    font-weight: bold;
  }
  
  .temp .icon {
    position: absolute;
    border-left: 1px solid #c41b1b;
    transform: translateX(110px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .temp svg {
    width: 15px;
    fill: #eee;
  }
  
  .temp:hover {
    background: #ff3636;
  }
  
  .temp:hover .text {
    color: transparent;
  }
  
  .temp:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(0);
  }
  
  .temp:focus {
    outline: none;
  }
