@import url("http://fonts.cdnfonts.com/css/gilroy-bold");

*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
  overflow: hidden;
}

a {
  text-decoration: none;
}

label {
  font-family: var(--font-family-Title);
}

:root {
  --black-color: #2F2F38;
  --yellow-color: #F9C845;
  --dark-grey-color: #423F3E;
  --grey-color: #F3F7FB;
  --palette-brown1:#000000;
  --palette-brown2:#455974;
  --palette-brown3:#6f4218;
  --palette-brown4:#ce8e68;
  --palette-brown5: #ebd0bb;
  --palette-brown6: #e4ddd5;
  --font-family-Search: 'Gilroy-Heavy', sans-serif;
  --font-family-Title: "Gilroy-Bold", sans-serif;
  --font-family-Text: 'Gilroy-Regular', sans-serif;
  --size: 40px;
  --frames: 62;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
