.nav {
  background-color: var(--palette-brown6);
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  height: 4em;
  align-items: center;
  justify-content: space-evenly;
  border-bottom-left-radius: 1.3em;
  border-bottom-right-radius: 1.3em;
}

.logo {
  height: 1.8em;
  width: 1.8em;
  margin-right: 0.5em;
}

.h1 {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  color: var(--palette-brown3);
}

.formInput {
    margin-left: 40px;
    padding-left: 45px;
}

.inputSearch {
  height: 2em;
  width: 28em;
  background-color: white;
  border: none;
  color: var(--black-color);
  font-family: var(--font-family-Text);
  font-size: 1rem;
  font-weight: 300;
  text-decoration: none;
  border-bottom-left-radius: 0.8em;
  border-top-left-radius: 0.8em;
  padding-left: 0.8em;
}

.inputSearch:focus {
  outline: none;
}
.inputDiv {
  display: flex;
}

.divSearch {
  height: 2em;
  width: 2.4em;
  background-color: white;
  border-left: 0.08em solid var(--black-color);
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  border-bottom-right-radius: 0.8em;
  border-top-right-radius: 0.8em;
  margin-right: 0.3em;
  padding-right: 0.5em;
}

.btnSearch {
  background-color: transparent;
  border-color: transparent;
}

.iconSearch {
  width: 1.4em;
  height: 1.2em;
}

.divBotones {
  display: flex;
  align-items: stretch;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.btnCreate {
  width: 7em;
  height: 2.8em;
  font-family: var(--font-family-Text);
  font-weight: 300;
  cursor: pointer;
  position: relative;
  border-radius: 2em;
  color: #fff;
  padding: 0;
  z-index: 1;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  background: var(--palette-brown3);
  line-height: 42px;
  margin-left: 1.2em;
  border: none;
  display: flex;
    align-items: center;
    justify-content: center;
}

.btnCreate:hover {
  background: transparent;
  color: #000;
}
.btnCreate:before,
.btnCreate:after {
  position: absolute;
  content: "";
  left: 0;
  width: 100%;
  height: 50%;
  right: 0;
  z-index: -1;
  background: var(--palette-brown3);
  transition: all 0.3s ease;
}
.btnCreate:before {
  top: 0;
}
.btnCreate:after {
  bottom: 0;
}
.btnCreate:hover:before,
.btnCreate:hover:after {
  height: 0;
  background-color: var(--palette-brown3);
}

.iconSearchB{
    width: 1em;
    height: 1em;
    vertical-align: text-bottom;
}