.containerClass {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-size: contain;
}

.pageNumbers {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.ul-containerBreed{
    display: flex;
    flex-direction: column;
    list-style: none;
}

.li-pageNumber{
    padding: 1em;
    margin: 0.2em;
}

.activePag {
    color: red;
}
